<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yena.shopping.category.dao.CategoryDAO">

	<select id="selectCategoryById"
			parameterType="int"
			resultType="com.yena.shopping.category.model.Category">
		SELECT
			`id`
			,`type`
			,`createdAt`
			,`updatedAt`
		FROM
			`category`
		WHERE
			id = #{id}
	</select>
</mapper>