<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.yena.shopping.product.review.dao.ReviewDAO">
 	<select id="selectAllReview"
 			resultType="com.yena.shopping.product.review.model.Review">
 		SELECT
 			`id`
 			,`userId`
 			,`productId`
 			,`comment`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`review`
 	</select>
 	
 	<insert id="insertReview"
 			parameterType="map">
 		INSERT INTO
 			`review`
 		(
 			`userId`
 			,`productId`
 			,`comment`
 			,`createdAt`
 			,`updatedAt`
 		)
 		VALUE
 		(
 			#{userId}
 			,#{productId}
 			,#{comment}
 			,now()
 			,now()
 		)
 	</insert>
 	
 	<select id="getReviewId"
 			parameterType="int"
 			resultType="com.yena.shopping.product.review.model.Review">
 		SELECT
 			`id`
 			,`userId`
 			,`productId`
 			,`comment`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`review`
 		WHERE
 			`productId` = #{productId}
 		ORDER BY
 			`id` DESC
 		LIMIT 1;
 	</select>
 </mapper>
 